@using BlazorLayout.Pages.Components.Shared
@using BlazorLayout.Shared
@using BlazorLayout.StateManagement

@inherits StatefulComponent<ManageActivities.StateT>

<div class="tab-content mt-3">
    <div class="tab-pane fade show active" id="today" role="tabpanel">
        @if (errorMessage is not null)
        {
            <div class="alert alert-danger mt-2">
                @errorMessage
            </div>
        }
        else if (warningMessage is not null)
        {
            <div class="alert alert-warning mt-2">
                @warningMessage
            </div>
        }
        @if (isLoading)
        {
            <Loader ShowLoading="isLoading" Message="@Localizer["shrinkage_loader_message"]"/>
        }
        <div class="container-fluid px-2">
            <div class="row g-3 align-items-stretch">
                <div class="col-12 col-md-3 d-flex" style="margin-top: 10px;">
                    <div class="card shadow-sm rounded-1 w-100 bg-light">
                        <div class="card-body">

              @*               <div class="d-flex justify-content-between mb-2">
                                <div>
                                    <button type="button" class="btn">
                                        <img src="img/refresh.svg"
                                             class="icon-size"
                                             alt=@Localizer["shrinkage_button_refresh"]>
                                    </button>
                                </div>
                                <div class="d-flex align-items-center">
                                    <input id="show-thirty-day" type="checkbox" class="mb-1 mr-2">
                                    <label for="show-thirty-day">@Localizer["shrinkage_label_show_last_thirty_days"]</label>
                                </div>
                            </div>
                            <Table Grid CssClass="table-striped mb-0" MaxVisibleRows="20">

                                <TableHeader>
                                    <Th>@Localizer["shrinkage_label_date"]</Th>
                                    <Th>@Localizer["shrinkage_label_status"]</Th>
                                </TableHeader>

                                <RowTemplate Context="row">
                                    @{
                                         
                                        
                                    }
                                    <Tr 
                                      
                                         >
                                        <td></td>
                                        <td>
                                            
                                        </td>
                                    </Tr>
                                </RowTemplate>

                            </Table> *@
                        </div>
                    </div>
                </div>


                <div class="col-12 col-md-9 d-flex">
                    <div class="w-100">

                         <fieldset class="border rounded-1 p-3 shadow-sm bg-light h-100 d-flex flex-column justify-content-between">
                            <legend>
                                @Localizer["shrinkage_summary_of_the_date_SD", ShrinkageDate.GetDayName(), ShrinkageDate]
                            </legend>
                           
                           
                                 <div class="mb-4">

                                    @* <ActivityListManagement DefaultTeamId="State.CurrentUser!.TeamId!.Value"
                                                            UserActivities="@UserActivities"
                                                            IsTimerActive="@IsTimerActive"
                                                            ShrinkageDate="@ShrinkageDate"
                                                            IsReadOnly="@(IsReadOnly || isSummaryEditing)"
                                                            HasError="@HasError"
                                                            IsUiLocked="@(IsUiLocked || isSummaryEditing)"
                                                            OnWarning="HandleWarning"
                                                            OnEditOrAddChanged="HandleActivityEditChanged"
                                                            OnErrorStateChanged="HandleError"
                                                            OnAdjustmentsChanged="@(() => LoadUserShrinkageForDateAsync(ShrinkageDate, false))"
                                                            UserPaidTime="@userPaidTime"
                                                            UserOvertime="@userOvertime"
                                                            UserVacationTime="@userVacationTime"
                                                            UserPaidTimeOff="@userPaidTimeOff"/> *@

                                                            <ActivityListManagement 
                                                                UserPaidTimeOff="@userPaidTimeOff"
                                                                UserPaidTime="@userPaidTime"
                                                                UserOvertime="@userOvertime"
                                                                UserVacationTime="@userVacationTime"
                                                                OnWarning="HandleWarning"
                                                                ShrinkageDate="@ShrinkageDate"
                                                                DefaultTeamId="State.CurrentUser!.TeamId!.Value"
                                                                UserActivities="@UserActivities" />
                                                                
                                                                
                                                                
                                                             

                                </div> 
                                @* <Summary PaidTime="@userPaidTime"
                                         Activities="@UserActivities"
                                         CurrentOvertime="@userOvertime"
                                         CurrentVacationTime="@userVacationTime"
                                         CurrentPaidTimeOff="@userPaidTimeOff"
                                         ShrinkageDate="@ShrinkageDate"
                                         DayName="@DayNameDe"
                                         TargetDate="@ShrinkageDate"
                                         IsReadOnly="@IsReadOnly"
                                         OnTimerStateChanged="HandleTimerStateChanged"
                                         IsAdding="@isAdding"
                                         IsEditing="@isEditing"
                                         Comment="@comment"
                                         OnSave="HandleSaveActivity"
                                         OnWarning="HandleWarning"
                                         IsUiLocked="@(isAdding || isEditing || isTimerRunning || isEditingActivity || IsReadOnly)"
                                         IsEditingDisabled="@(isAdding || isEditing || isTimerRunning || IsReadOnly)"
                                         OnGlobalEditChanged="HandleSummaryChanged"
                                         UserShrinkage=userShrinkage
                                         OnAdjustmentsChanged="@(() => LoadUserShrinkageForDateAsync(ShrinkageDate, false))"/>
 *@
                                <div class="d-flex justify-content-end mt-3">
                                    <button 
                                             class="btn btn-outline-dark fixed-btn">
                                        
                                    </button>
                                </div>
                           
                        </fieldset> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code
{
    // private async Task ShowSaveDailyValueConfirmation(UserDailySummaryDto row)
    // {
    //     SelectRow(row);
    //     var title = string.Empty;
    //     var message = string.Empty;

    //     if (row.Date.DayOfWeek == DayOfWeek.Saturday ||
    //         row.Date.DayOfWeek == DayOfWeek.Sunday ||
    //         row.PublicHoliday != null)
    //     {
    //         string dayType = row.Date.GetDayName();
    //         if (row.PublicHoliday != null)
    //             dayType = Localizer["shrinkage_label_public_holiday"];

    //         title = Localizer["shrinkage_add_daily_value_title_S", dayType];
    //         message = Localizer["shrinkage_add_daily_value_message"];
    //     }
    //     else if (row.AbsenceType != AbsenceType.Unspecified)
    //     {
    //         title = Localizer["shrinkage_add_daily_value_for_absence_title"];
    //         message = Localizer["shrinkage_add_daily_value_for_absence_message"];
    //     }

    //     string buttonText = Localizer["yes"];
    //     ModalStack.PushModal(close => @<ConfirmationDialog
    //                                       CloseModal="close"
    //                                       Title="@title"
    //                                       Message="@message"
    //                                       ButtonText="@buttonText"
    //                                       OnConfirm="@(() => InitiateDailyValueAndShrinkage(row))"/>);
    // }
}


    