@page "/shrinkage/{ActiveTab?}"
@using BlazorLayout.Pages.Components.Shared
@using BlazorLayout.Pages.Components.Shrinkage.User
@using BlazorLayout.Pages.Components.Tabs
@using BlazorLayout.StateManagement



@inherits StatefulComponent<Shrinkage.StateT> 

<h1>@Localizer["shrinkage_welcome_message"]</h1>
@* @if (State.Teams.Count == 0)
{
    <div class="alert alert-info mt-3">
        Aucune équipe disponible.
    </div>
}
else
{
    <div class="card mt-3 shadow-sm">
        <div class="card-header fw-bold">
            Liste des équipes
        </div>

        <ul class="list-group list-group-flush">
            @foreach (var team in State.Teams)
            {
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span>
                        <strong>@team.Name</strong>
                    </span>

                    @if (State.CurrentUser?.TeamId == team.Id)
                    {
                        <span class="badge bg-success">
                            Mon équipe
                        </span>
                    }
                </li>
            }
        </ul>
    </div>
}
 *@

 <div class="tab-pane fade show active" role="tabpanel">
    @if (errorMessage is not null)
    {
        <div class="alert alert-danger mt-2">
            @errorMessage
        </div>
    }
    @if (!isUserLoaded)
    {
        <Loader ShowLoading="@(isUserLoaded)" Message="@Localizer["shrinkage_loader_message"]"/>
    }
    else
    {
       if (State.CurrentUser != null)
        {
            
            <div class="container-fluid px-3 @(errorMessage is not null ? "disabled" : "")">
                <FieldsetWithTabs ActiveTabKey="@ActiveTab" OnChange="@SwitchTab">
                    <Tab Label="@Localizer["shrinkage_user_activities"]" Key="activities">
                       <ManageActivities/> 
                    </Tab>
                    <Tab Label="@Localizer["shrinkage_absences"]" Key="absences">
                         <ManageAbsences/> 
                    </Tab>
                </FieldsetWithTabs>
            </div>
        } 
    }
</div> 
